<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <ul>
        <% for(let cat of cats){ %>
            <li><%= cat %>!!!</li>
        <% } %>

    </ul>
    <h1>Welcome to cats page</h1>
    <ul>
        <% cats.forEach((cat)=>{%>
            <li><%= cat %>???</li>
        <% }) %>

    </ul>
    
</body>
</html>