<%- include('partials/head') %>
<body class="bg-wolfgang">
    <%- include('partials/navbar') %>
    <h1>Comments </h1>

   


    <ul>
        <% comments.forEach(obj => {%>
            <li><%=obj.username %> - <%=obj.comment %></li>
            <%  }); %>


    </ul>
  
    <a class="text-danger" href="/comments/new">Add new comment</a> 

   
</body>
</html>