<%- include('partials/head') %>
<body class="bg-wolfgang">

    <%- include('partials/navbar') %>
    <div class="container">

   
    <h1>tocos</h1>
   <h2>GET REQUEST</h2>
    <form action="/tocos" method="get">
        <input type="text" name="meat">
        <input type="number" name="qty">
        <button>Submit</button>
    </form>
   <h2>POST REQUEST</h2>
    <form action="/tocos" method="post">
        <input type="text" name="meat">
        <input type="number" name="qty">
        <button>Submit</button>
    </form>
</div>
    <%- include('partials/footer') %>