<%- include('partials/head') %>
 
    <%- include('partials/navbar') %>
    <h1>Welcome to home page</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reprehenderit expedita quis
      laboriosam veniam. Dolores cum fugiat nam quibusdam itaque rerum, consectetur placeat
      accusantium enim velit eum dicta inventore odit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reprehenderit expedita quis
      laboriosam veniam. Dolores cum fugiat nam quibusdam itaque rerum, consectetur placeat
      accusantium enim velit eum dicta inventore odit?
    </p>
    <a href="/logout">Logout <%= 313 + kimbo.toUpperCase()%></a>
    <%- include('partials/footer') %>
