<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to home page</h1>
    <a href="/logout">Logout</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      reprehenderit expedita quis laboriosam veniam. Dolores cum fugiat nam
      quibusdam itaque rerum, consectetur placeat accusantium enim velit eum
      dicta inventore odit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      reprehenderit expedita quis laboriosam veniam. Dolores cum fugiat nam
      quibusdam itaque rerum, consectetur placeat accusantium enim velit eum
      dicta inventore odit?
    </p>
  </body>
</html>
