<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> address </title>
</head>
<body>
    <h1> browsing the <%= address1 %> <%= address2 %> business</h1>
    
</body>
</html>