<footer class="  bg-danger" >

    <div class="container">
        
       
                <h2> this is the footer!</h2>
            
            
        </div>
  
</footer>
<script src="/reload/reload.js"></script>
</body>
</html>